*{
  font-family: arial;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  padding: 0;
}
#title-container{
  max-width: 70%;
  background-color: rgb(213, 230, 245); 
  position: relative;
  padding-bottom: 10rem;
  border-bottom-right-radius: 2rem;
}

#title{
  padding-top: 2rem;
  max-width: 60%;
  margin-left: 10%;
}
#title-content{
  font-size: 1rem;
  font-weight: 50;
  max-width: 70%;
}
#logo-container{
  max-width: 50%;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 1rem;
  padding-top: 2rem;
  padding-left: 5rem;
}

#logo-container img{
width: 20%;
}
#calculator-container{
  position: absolute;
  top: -30%;
  left: 120%;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
}
#radio-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0.5rem;
}
#radio-container span{
  margin-left: -15%;
}
#label-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 0.80rem;
  padding-top: 0.5rem;
}
#label-container span{
  margin-left: -25%;
}
#input-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}
#input-container input{
  height: 30%;

  padding: 0.25rem;
  font-size: 0.75rem;
}
#button-container{
  padding: 1rem;
}
#button-container div{
  font-size: 0.75rem;
  padding: 2rem;
  background-color: rgb(49, 49, 243);
  color: white;
  border-top-right-radius: 50% 70px;
  border-bottom-right-radius: 50% 70px;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
#hero-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem
}
#image-container{
  max-width: 50%;
  /* padding-left: 10%;
  padding-top: 5%; */
  display: flex;
  align-items: center;
  justify-content: center;
}
#image-container img{
  max-width: 80%;
}
#hero-content{
  max-width: 50%;
  padding: 1rem;
}
#hero-content{
  max-width: 50%;
  font-weight: 50;
}
#hero-text{
  max-width: 70%;
}
#points-container{
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(213, 230, 245); 
  margin: 1rem;
  border-radius: 1rem;
  padding: 1rem;
}
.points-flex{
  position: relative;
  display: flex;
  flex-direction: column;
}
.points-container div{
  max-width: 90%;
  padding: 1rem;
}
.points-content h3{
  font-size: 1.5rem;
  font-weight: 50;
  padding-bottom: 10px;
}
.points-content p{
  font-weight: 50;
}
#limitations-grid-container{
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto auto auto;
  grid-template-rows: auto auto auto;
  padding: 2rem;
  gap: 1.5rem;
  position: relative;
}
#limitations-grid-container div{
  padding: 0.5rem;
}
#limitations-container{
grid-column: 1/7;
}
#gender{

grid-column: 7/10;
box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.2);
border-radius: 1rem;
}
#line{
grid-column: 1/5;
grid-row: 2/3;
transform: rotateY(180deg);
display: flex;
position: relative;
justify-content: start;
align-items: center;
}
#Age{
grid-column: 5/8;
grid-row: 2/3;
box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.2);
border-radius: 1rem;
}
#muscles{
grid-column: 8/11;
grid-row: 2/3;
box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.2);
border-radius: 1rem;
}
#pregnancy{
grid-column: 3/6;
grid-row: 3/3;
box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.2);
border-radius: 1rem;
}
#race{
grid-column: 6/9;
grid-row: 3/3;
box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.2);
border-radius: 1rem;

}
.limitations-content{
    font-size: 0.75rem;
}
.limitations-header{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.limitations-heading{
  padding-left: 1rem;
  font-size: 1.5rem;
}
.limitations-title{
  font-size: 2rem;
}
.limitations-title-content{
  font-size: 1rem;
  padding: 1rem;
  max-width: 80%;
}
@media screen and (max-width: 860px) and (min-width: 481px){

  #title-container{
  max-width: 100%;
  background-color: rgb(213, 230, 245); 
  position: relative;
  border-bottom-right-radius: 2rem;
  padding: 1rem;
}
#title{
  padding-top: 2rem;
  max-width: 100%;
  margin-left: 0%;
  text-align: center;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#title-content{
  font-size: 1rem;
  font-weight: 50;
  max-width: 80%;
}
#logo-container {

        /* display: flex; */
        align-items: center;
        justify-content: end;
    }

#logo-container img{
width: 20%;
}
#calculator-container{
  position: relative;
  top: 0%;
  left: 0%;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  margin-top:10%;
}

#points-container{
  display: flex;
  position: relative;
  justify-content: start;
  align-items: start;
  background-color: rgb(213, 230, 245); 
  margin: 0;
  border-radius: 1rem;
  flex-direction: column;
  padding: 1rem;
}
.points-icon{
  max-width: 50%;
  display: inline;
}
.points-flex{
  position: relative;
  display: flex;
  flex-direction: row;
}
.points-container div{
  max-width:80%;
  padding: 1rem;
}
.points-content h3{
  font-weight: 50;
  padding: 0;
}
.points-content{
  max-width: 80%;
  padding-left: 1rem;
}


#limitations-grid-container{
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  grid-template-rows: auto auto auto auto;
  padding: 1rem;
  gap: 1rem;
  position: relative;
}
#limitations-container{
grid-column: 1/5;
}
#gender{

grid-column: 1/3;
grid-row: 2/3;
}
#line{
  display: none;
}
#Age{
grid-column: 3/5;
grid-row: 2/3;
}
#muscles{
grid-column: 1/3;
grid-row: 3/4;
}
#pregnancy{
grid-column: 3/5;
grid-row: 3/4;
}
#race{
grid-column: 2/4;
grid-row: 4/5;
}
}
@media screen and (max-width: 480px){
   #title-container{
  max-width: 100%;
  background-color: rgb(213, 230, 245); 
  position: relative;
  border-bottom-right-radius: 2rem;
  padding: 1rem;
}
#title{
  padding-top: 2rem;
  max-width: 100%;
  margin-left: 0%;
  text-align: center;
  display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#title-content{
  font-size: 1rem;
  font-weight: 50;
  max-width: 80%;
}
#logo-container {

        /* display: flex; */
        align-items: center;
        justify-content: end;
    }

#logo-container img{
width: 20%;
}
#calculator-container{
  position: relative;
  top: 0%;
  left: 0%;
  background-color: white;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
  margin-top:10%;
}
#radio-container{
  flex-direction: column;
}
#points-container{
  display: flex;
  position: relative;
  justify-content: start;
  align-items: start;
  background-color: rgb(213, 230, 245); 
  margin: 0;
  border-radius: 1rem;
  flex-direction: column;
  padding: 1rem;
}
.points-icon{
  max-width: 50%;
  display: inline;
}
.points-flex{
  position: relative;
  display: flex;
  flex-direction: row;
}
.points-container div{
  max-width:80%;
  padding: 1rem;
}
.points-content h3{
  font-weight: 50;
  padding: 0;
}
.points-content{
  max-width: 80%;
  padding-left: 1rem;
}
#test{
  display: flex;
  justify-content: center;
}
  #label-container{
    flex-direction: column;
  }
  #input-container{
    flex-direction: column;
  }
  #hero-container{
    flex-direction: column;
    padding: 0;
  }
  #hero-text{
    max-width: 100%;
  }
  #hero-content{
    max-width: 100%;
  }
#limitations-grid-container{
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  padding: 1rem;
  gap: 1rem;
  position: relative;
}
#limitations-container{
grid-column: 1/2;
}
.limitations-title-content{
  max-width: 100%;
}
#gender{
grid-column: 1/2;
grid-row: 2/3;
}
#line{
  display: none;
}
#Age{
grid-column: 1/2;
grid-row: 3/4;
}
#muscles{
  grid-column: 1/2;
  grid-row: 4/5;
}
#pregnancy{
  grid-column: 1/2;
  grid-row: 5/6;
}
#race{
  grid-column: 1/2;
  grid-row: 6/7;
}
#logo-container{
  display: none;
}
}